<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="bottombar">
<!-- Mobile Bottom Navbar (hidden on desktop) -->
<nav class="navbar fixed-bottom navbar-light bg-light border-top shadow-sm d-lg-none">
    <div class="container-fluid justify-content-center">
        <ul class="nav nav-pills nav-fill w-100">
            <li class="nav-item w-20">
                <a class="nav-link active text-center p-2" href="#">
                    <i class="fas fa-home fa-lg d-block mb-1"></i>
                    <small class="d-block">Home</small>
                </a>
            </li>
            <li class="nav-item w-20">
                <a class="nav-link text-center p-2" href="#">
                    <i class="fas fa-chart-bar fa-lg d-block mb-1"></i>
                    <small class="d-block">Dashboard</small>
                </a>
            </li>
            <li class="nav-item w-20">
                <a class="nav-link text-center p-2" href="#">
                    <i class="fas fa-users fa-lg d-block mb-1"></i>
                    <small class="d-block">Users</small>
                </a>
            </li>
            <li class="nav-item w-20">
                <a class="nav-link text-center p-2" href="#">
                    <i class="fas fa-cog fa-lg d-block mb-1"></i>
                    <small class="d-block">Settings</small>
                </a>
            </li>
            <li class="nav-item w-20">
                <a class="nav-link text-center p-2" href="#">
                    <i class="fas fa-bell fa-lg d-block mb-1"></i>
                    <small class="d-block">Notifications</small>
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>
